
.lookup {
  position: relative;
  z-index: 1;
  width: 400px;
  height: 100px;
  margin: auto;
}

.search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(0,0,0,0.5);
  border-radius: 3px 3px 16px 16px;

  box-shadow: 0px 5px rgba(0,0,0,0.2);

  color: white;
  font-size: 24px;
  
  transition: 0.4s ease;
}

.search-bar:focus {
  background-color: rgba(0,0,0,0.9);
}